<html>
    <head>
        <title>.NET Core</title>
    </head>

    <body>
        <h1>Hello world!</h1>
        <p>This is new version to check if automatic publishing is working!</p>
        <a href="/Home/NewIssue">Issues</a>
    </body>
</html>