<html>
    <head>
        <title>.NET Core</title>
    </head>

    <body>
        Status:
        <p data-bind="text: $root.status"></p>

        Title:
        <input data-bind="value: $root.title" />
        Text:
        <input data-bind="value: $root.text" />
        <button data-bind="click: $root.send">Add</button>

        <button data-bind="click: $root.getAll">Get all</button>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Type</th>
                    <th>Created</th>
                    <th>Modified</th>
                </tr>
            </thead>
            
            <tbody data-bind="foreach: $root.issues">
                <tr>
                    <td data-bind="text: id"></td>
                    <td data-bind="text: title"></td>
                    <td data-bind="text: text"></td>
                    <td data-bind="text: issueType"></td>
                    <td data-bind="text: creationDate"></td>
                    <td data-bind="text: modificationDate"></td>
                </tr>
            </tbody>
        </table>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
        <script type="text/javascript">
            function IssueViewModel() {
                var self = this;

                self.status = ko.observable("");

                self.title = ko.observable("");
                self.text = ko.observable("");

                self.issues = ko.observableArray([]);

                self.send = function () {
                    self.status("Status: Adding...");

                    $.ajax("AddIssue", {
                        type: "post",
                        data: {
                            title: self.title(),
                            text: self.text()
                        }
                    }).done(function (result) {
                        self.status(result.status);
                        self.issues.push(result.newIssue);
                    });
                };

                self.getAll = function () {
                    self.status("Status: Getting all...");

                    $.ajax("AllIssues", {
                        type: "get"
                    }).done(function (result) {
                        self.issues(result.issues);
                        self.status("");
                    });
                };

                self.getAll();
            }

            // Activates knockout.js
            ko.applyBindings(new IssueViewModel());
        </script>

    </body>
</html>