<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Avilox</title>

    <link rel="stylesheet" href="~/lib/semantic/dist/semantic.css" />
    <link rel="stylesheet" href="~/css/site.css" />

    <!--@Html.ApplicationInsightsJavaScript(TelemetryConfiguration)-->
</head>
<body>

    <div class="ui container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2016 - Avilox</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/lib/semantic/dist/semantic.js"></script>
    <script src="http://semantic-ui.com/javascript/library/tablesort.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>