@model NetAdmin.Domain.Responses.TableListResponse

    <div class="ui list">
        @foreach (var table in Model.Tables) {
        <div class="item">
            <i class="table icon"></i> @table
        </div>
        }
    </div>